<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CaptchaGen</servlet-name>
        <servlet-class>Security.CaptchaGen</servlet-class>
        <init-param>
            <param-name>height</param-name>
            <param-value>40</param-value>
        </init-param>
        <init-param>
            <param-name>width</param-name>
            <param-value>190</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DBTApproveCash</servlet-name>
        <servlet-class>DBTWorks.DBTApproveCash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBTApproveFileGenaration_FilePush</servlet-name>
        <servlet-class>DBTWorks.DBTApproveFileGenaration_FilePush</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBTFileGenerationCash_new</servlet-name>
        <servlet-class>DBTWorks.DBTFileGenerationCash_new</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeneficiaryDataEdit</servlet-name>
        <servlet-class>DataTablesWorks.BeneficiaryDataEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBTApproveCash</servlet-name>
        <url-pattern>/DBTApproveCash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBTApproveFileGenaration_FilePush</servlet-name>
        <url-pattern>/DBTApproveFileGenaration_FilePush</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBTFileGenerationCash_new</servlet-name>
        <url-pattern>/DBTFileGenerationCash_new</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManageOfficeInfo</servlet-name>
        <url-pattern>/ManageOfficeInfo</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ManageEmployeeInfo</servlet-name>
        <url-pattern>/ManageEmployeeInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
